<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div>
    Please Login
</div>

<form method="post">

    <input type="text" name="username" placeholder="USerName"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">

</form>

</body>
</html>
