<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<div>
    Please enter parameters for building the profile
</div>

<form method="post">

    <input type="text" name="name" placeholder="Asset Name"><br>
    <input type="text" name="domain" placeholder="Asset Domain"><br>
    <input type="text" name="type" placeholder="Asset Type"><br>
    <input type="text" name="description" placeholder="Asset Description"><br>
    <input type="submit">

</form>

</body>
</html>
